*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
    background-color: #134532;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  header h1 {
    height: 30px;
    font-size: 2rem;
    color: white;
  }
  .header-total {
    color:white;
    margin: 10px;
    font-size: 1.2rem;
  }
  .header-total span {
    background-color: white;    
    padding: 5px;  
    border-radius: 5px;
    color: black;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .little-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 288px;
    height: auto;
    margin-bottom: 10px;
    margin: 10px;
    color: white;
    font-size: 1.6rem;
  }
  .little-container input {
    width: 150px;
    height: 40px;
    outline: none;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
  }

  .little-container span {
    margin-bottom: 10px;
  }
  .botones {
    width: 70px;
    height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    margin: 0 5px;
    background-color: transparent;
    box-shadow: 0 3px 3px  rgba(0, 0, 0, 0.5);
  }
  .key-buttons {
    width: 180px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .key {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 1.6rem;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 3px 3px  rgba(0,0,0,0.5);
  }
  .key:active {
    transform: scale(0.95);
  }
  .retiro {
    width: 100%;
    height: auto;
  }
  .retiro p {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
    margin: 10px 0;
    color: white;
  }
  p img {
    width: 288px;
    height: 128px;
    margin: 10px;
    border: 1px solid black;
  }
  @media (min-width: 800px) {
    p {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }